:root {
    --white: #FFFFFF;
    --blue: #2196F3;
    --black: #212121;
    --grew: #757575;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-size: 'Raleway';
    Font-style: Bold;
    font-size: 26px;
    line-height: 0.83;
    text-align: Left;
    vertical-align: Top;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--blue);
}


.info {
    font-size: 14px;
    Line-height: 0.87;
    text-align: Left;
    Vertical-align: Top;
    letter-spacing: 0.02em;
    fill: solid;
    color: var(--black);
    text-decoration: none;
}

.contacts a {
    font-size: 14px;
    line-height: 0.88;
    line-height: 100%;
    text-align: Left;
    vertical-align: Top;
    letter-spacing: 0.02em;
    color: var(--grew);
}

.logo-accent {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 0.03em;
    color: var(--black);
}

section button {
    font-style: Bold;
    font-size: 16px;
    line-height: 30px;
    text-align: Center;
    Vertical-align: Center;
    Letter-spacing: 0.06em;
    Fill: Solid;
    color: var(--white);
    cursor: pointer;
}

header a {
    text-decoration: none;
}

section button:hover {
    background-color: var(--blue);
}

.info a:hover {
    background-color: var(--blue);
}

.contacts a:hover {
    color: var(--blue);
}



.hero {
    font-size: 44px;
    font-weight: 900;
    line-height: 0.73;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--white);
    Fill: Solid;
    background-color: #2F303A;
}

.link {
    font-size: 14px;
    line-height: 0.87;
    vertical-align: Top;
    letter-spacing: 0.03em;
    color: var(--black);
    text-align: left;
}

.description {
    font-size: 14px;
    line-height: 0.58;
    line-height: 146%;
    text-align: Left;
    vertical-align: Top;
    letter-spacing: 0.03em;
    Fill: Solid;
    color: var(--grew);
}

.work {
    font-size: 36px;
    line-height: 0.86;
    text-align: Center;
    vertical-align: Top;
    letter-spacing: 3%;
    Fill: Solid;
    color: var(--black);
}

.team {
    font-size: 36px;
    line-height: 0.86;
    text-align: Center;
    vertical-align: Top;
    letter-spacing: 3%;
    Fill: Solid;
    color: var(--black);
}

.name {
    font-size: 16px;
    line-height: 0.8;
    line-height: 100%;
    text-align: Center;
    vertical-align: Top;
    letter-spacing: 3%;
    Fill: Solid;
    color: var(--black);
}

.job {

    font-size: 16px;
    line-height: 0.8;
    line-height: 100%;
    text-align: Center;
    vertical-align: Top;
    letter-spacing: 0.03em;
    Fill: Solid;
    color: var(--grew);
}

.information a {
    font-size: 14px;
    line-height: 24px;
    line-height: 146%;
    text-align: Left;
    vertical-align: Top;
    letter-spacing: 3%;
    Fill: Solid;
    text-decoration: none;
}

.information a:hover {
    color: var(--blue);

}