:root {
    --white: #FFFFFF;
    --blue: #2196F3;
    --black: #212121;
    --grew: #757575;
    --light-black: #2F303A;
}

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

/*Heder*/
.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.17;
    text-align: Left;
    vertical-align: Top;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--blue);
}

.logo-accent {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--black);
}

.link-info {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--black);
    text-decoration: none;
}

.info .link-info:hover {
    color: var(--blue);
    background-color: transparent;
}

.contacts .link1 {
    font-size: 14px;
    line-height: 1.14;
    line-height: 100%;
    text-align: Left;
    vertical-align: Top;
    letter-spacing: 0.02em;
    color: var(--grew);
    text-decoration: none;
}


.contacts a:hover {
    color: var(--blue);
}

/*Section*/
.btn {
    font-size: 16px;
    line-height: 1.9;
    text-align: Center;
    letter-spacing: 0.06em;
    background-color: var(--blue);
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--white);
}

.topic {
    width: 100%;
    height: 600px;
    background-color: var(--light-black);
}

.hero {
    font-size: 44px;
    line-height: 1.4;
    line-height: 0.73;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}

.link {
    font-size: 14px;
    line-height: 1.11;
    letter-spacing: 0.03em;
    color: var(--black);
    text-transform: uppercase;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--grew)
}

.work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black);
}

.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black);
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black);
}

.job {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grew);
}

/*footer*/
footer {
    background-color: var(--light-black);
}

.logo-type {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.17;
    text-align: Left;
    vertical-align: Top;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--blue);

}

.logo-mainer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white);
}

.reference {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.phone-number {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.information a:hover {
    color: var(--blue);

}
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black);
}

.job {

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grew);
}

/*footer*/
footer {
    background-color: var(--light-black);
}

.logo-type {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 0.83;
    text-align: Left;
    vertical-align: Top;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--blue);

}

.logo-mainer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--white);
}

.reference {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.phone-number {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.information a:hover {
    color: var(--blue);

}
